@media screen and (max-width:479px){
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Poppins";
}

h1{
    font-size: 2rem;
    font-weight: 400;
}

h2{
    font-weight: 600;
}
section{
    width: 100%;
}


.hero-section{
    background-size:cover;
    background-position: -100px ;
    width: 100%;
}


.nav-bar{
    width: 100%;
    /* background-color: aquamarine; */
}



.hamburger{
    display: block;
    display: flex;
    padding-right: 60px;

}

.hamburger i{
    font-size: 20px;
    transition: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.hamburger i:hover{
    scale: (0.8);
}

.nav-bar .links{
    display: none;
}

.logo{
    padding-right: 80px;
}

.banner-cards{
    gap: 10px;
}


.card-1,.card-2,.card-3{
    width: 200px;
    height: 300px;
}

.card-1 h1{
    color: white;
    font-size: 20px;
   
}

.card-2 h1{
    font-size: 20px;
}

.card-3 h1{
    font-size: 20px;
}

.our-services{
    display: flex;
    flex-direction: column;
    

}

.heading{
    width: 100%;
}

.services-cards{
    display: flex;
   
    flex-direction: column;
    
    padding-inline: 0px;
    padding-bottom: 30px;
    
}

.services-cards .first-card{
    width: 90%;
    margin-left: 23.5px;
    border-radius: 15px;
}

.services-cards .second-card{
    width: 90%;
    margin-left: 23.5px;
    border-radius: 15px;
}

.services-cards .third-card{
    width: 90%;
    margin-left: 23.5px;
    border-radius: 15px;
}

.services-cards-desc{
    
    display: none;
}


.quote{
    width: 100%;
    
    padding-inline:0px ;
    
}

.quote .icon{
    font-size: 2rem;
    display: flex;
    flex-direction: column;

}

.quote .quote-desc {
    margin-bottom: 20px;
}

.about-us{
    
    display: flex;
    
    flex-direction: column;
    padding-inline: 0px;
    height: 1000px;
    position: relative;
    margin-top: 70px;
    
}

.about-us-desc{
    padding-inline: 0px;
   
    padding-inline: 0px;
    width: 80%;
    margin-top: 20px;
    margin-left: 45px;
}

.about-us-image{
    position: absolute;
    top: 800px;
    left: 120px;
}

.last-banner{
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
}



.footbar .links{
    display: none;
}

.footbar .logo{
    padding-left: 80px;
    box-sizing: border-box;
    
    
}



.footbar .para{
    margin-right: 10px;
    font-size: 0.8rem;
  
    display: none;

   
}

}